/////////////// Colors //////////////////////
$reaction: hsl(0, 100%, 67%);
$memory: hsl(39, 100%, 56%);
$verbal: hsl(166, 100%, 37%);
$visual: hsl(234, 85%, 45%);

$reaction_background: hsla(0, 100%, 67%, 0.091);
$memory_background: hsla(39, 100%, 56%, 0.094);
$verbal_background: hsla(166, 100%, 37%, 0.091);
$visual_background: hsla(234, 85%, 45%, 0.094);

// Right section background gradient
$light_slate_blue: hsl(252, 100%, 67%);
$light_royal_blue: hsl(241, 81%, 54%);

// Circle background gradient
$violet_blue: hsla(256, 72%, 46%, 1);
$persian_blue: hsla(241, 72%, 46%, 0);

// Neutral colors
$background_white: hsl(0, 0%, 100%);
$gradient_background_text:  hsl(221, 100%, 96%);
$background_text: hsl(241, 100%, 89%);
$white_backrground_text: hsl(224, 30%, 27%);
$white_background: hsla(224, 30%, 27%, 0.498);
/////////////////////////////////////////////////////